body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(228, 228, 228);
    
}
.grid-container {
    width: 100%;
  display: grid;
  
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;

  
  padding: 3px;
}

.grid-item {
  padding: 5px 10px;
margin: 2px;
  width: 80px;
  border-radius: 5px;
  outline: none;
  font-size: 1.5rem;
  text-align: center;
}
.text
{
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightslategray;
    color:black;
    background-color: white;
    border-radius: 5px;
    

}
.container{
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px ;

    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
      transform: translate(-50%,-50%);
      background-color: rgb(5, 5, 77);


}
.heading{
text-align: center;
font-size: 3rem;
color: white;
}
#number{

    position: relative;
width: 98%;
height: 50px;
border: none;
outline: none;
text-align: right;
font-size: 1.5rem;
font-weight: bold;

}
@media screen and (max-width:350px){
    .heading{
text-align: center;
font-size: 2rem;
color: white;
}
.grid-item {
  padding: 5px 10px;
margin: 1px;
  width: 70px;
  border-radius: 5px;
  outline: none;
  font-size: 1.5rem;
  text-align: center;
}



}